@model IEnumerable<Staff>

@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h1 class="display-4">Ближайшие дни рождения</h1>

    <table class="table table-hover">
    <thead>
    <tr>
        <th>Фамилия</th>
        <th>Имя</th>
        <th>Должность</th>
        <th>Дата рождения</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var staff in Model)
    {
        <tr style="text-align:center">
            <td> @($"{staff.Surname}")</td>
            <td>@($"{staff.FirstName}")</td>
            <td>@($"{staff.Position}")</td>
            <td>@($"{staff.Birthday:dd/MM/yyyy}")</td>
        </tr>
    }
        </tbody>
        </table>
    
</div>