@model Staff

@{
    ViewData["Title"] = Model.Id == 0 ? "Добавить" : "Редактировать";
}

<div class="text-center">
    <h1 class="display-4">@(Model.Id==0?"Добавить день рождения":"Редактировать день рождения")</h1>

    <form method="post" asp-action="@(Model.Id == 0 ? "AddStaffPost" : "EditPersonPost")" enctype="multipart/form-data">
        <input name="Id" asp-for="Id" hidden="hidden">
        <input placeholder="Фамилия" type="text" name="Surname" asp-for="Surname">
        <input placeholder="Имя" type="text" name="FirstName" asp-for="FirstName">
        <input placeholder="Отчество" type="text" name="LastName" asp-for="LastName">
        <input placeholder="Должность" type="text" name="Position" asp-for="Position">
        <input placeholder="Дата рождения" type="date" name="Birthday" asp-for="Birthday">
        <input placeholder="Портрет" type="file" name="Picture" asp-for="Picture">
        <input type="submit" value="@(Model.Id==0? "Добавить" : "Изменить")">
    </form>
   
</div>